body {
  background: black !important;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'Open Sans', sans-serif !important;
  overflow-x:hidden;
}

@media (min-width: 1200px) {
  .container {
    width: 870px !important;
  }
}

@media (max-width: 900px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .jumbocontent {
    font-size: 1.3em;
  }

  .jumbotitle {
    font-size: 1.8em;
  }

  .luxus-logo {
    text-align: center;
  }
}

.flag-button {
  cursor: pointer;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75);
  padding-top: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 240px;
  display:inline-flex;
  flex-wrap: wrap;
  background-color: #f4f9ff;
  transition: min-width 0.7s;
}

.meal-card {
  cursor: pointer;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75);
  padding-top: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 240px;
  display:inline-flex;
  flex-wrap: wrap;
  background-color: #f4f9ff;
  transition: min-width 0.7s;
}

.circleBase {
    border-radius: 50%;
}

.flag-button:hover {
  background-color: #42f4d4;
}

.selected {
  background-color: #42f4d4;
}

.centered-text {
  display:flex;
  justify-content:center;
  align-items:center;
  height: 80px;
}

.flag-button-content {
  opacity: 0;
  max-height:0px;
  transition:.7s;
  width:100%;
  padding: 8px;
  text-align: center;
  word-break: break-all;
}

.meal-card:hover .meal-card-content {
    opacity:1;
    max-height: 400px;
}

.meal-card-content {
  opacity: 0;
  max-height:0px;
  transition:.7s;
  width:100%;
  padding: 8px;
  text-align: center;
  word-break: break-all;
}

.flag-button:hover .flag-button-content {
    opacity:1;
    max-height: 400px;
}

.block-underline {
  border-bottom: 8px;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  border-style: solid;
  padding-bottom: 7px;
}

.nav {
    background: rgba(0,0,0,0.5);
}

.header {
  padding-top: 2px;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: -50px;
}

@media (max-width: 800px) {
  .header {
    margin-bottom: 0px;
  }
}

.link-hover:hover {
  background-color: #deedec;
}

.padded-box-select {
  padding: 40 50 50 40 !important;
  display: inline-flex;
  flex-wrap: wrap;
}

.padded-box-divider {
  padding: 20 0 0 0 !important;
}


.padded-box-divider {
  padding: 20 0 0 0 !important;
}

small-text {
  font-size: 0.8em;
}

.jumbotron {
  min-width:100%;
  z-index: 1;
  background:url('img/pexels-photo-376464.jpeg') !important;
  background-repeat:no-repeat;
background-position: center center;
  margin-bottom: 0px !important;
  overflow-y:visible;
}

.vertical-center {
  min-height: 50%;
  min-height: 50vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-height:500px;
}

.jumbo-text {
  padding: 5px;
  line-height: 45px;
}

.jumbo-text > p {
  margin-top: 34px;
  width: 60%;
  line-height:30px
}

@media (max-width: 900px) {
  .jumbo-text > p {
    margin-top: 34px;
    width: 90%;
    line-height:30px
  }
}

.Aligner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
  display:flex;
}

.centered-text-row {
  display:flex;
  justify-content:center;
  align-items:center;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}
